.theme-changer{
    justify-items: end;
    display: flex;
    justify-content: flex-end;
}

.thch-box{
    display: none;
}

.theme-changer .btn{
    align-items: center;
    padding: 1rem 0.75rem;
    border: 3px solid;
    background-color: black;
    border-radius: 0.5rem;
}

.dark-btn{
    border-color: white;
    --lamp: radial-gradient(circle, rgba(138, 162, 187, 0.3), rgba(104,149, 197, 0.3));
}
.light-btn{
    border-color: black;
    --lamp: radial-gradient(circle, rgb(255, 238, 0), rgba(255, 166, 0, 0.7));
    --lamp-light: 0 1rem 3rem  rgb(255, 196, 0);
}

.theme-changer .btn::after{
    content: '';
    display: block;
    width: 5rem;
    height: 5rem;
    transform: translate(-50%) translateY(10%);
    position: absolute;
    border-radius: 50%;
    border: 3px solid ;
    background: var(--lamp);
    box-shadow: var(--lamp-light);
}

.theme-changer .btn::before{
    content: '';
    display: block;
    position: absolute;
    width: 0.5rem;
    height: 10rem;
    background-color: black;
    transform: translateX(-50%) translateY(-100%);
}

